@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-image: linear-gradient(#FF7F00, #FFA500);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	display: inline;
	margin-right: 20px;
	cursor: pointer;
}

ul li a {
	text-decoration: none;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
}

img {
	width: 120px;
	height: 120px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

table input {
	border-radius: 8px;
	border: solid #FFA500 1px;
	padding: 10px;
	margin-left: 10px;
	width: 30vw;
	outline: none;
}

#id {
	border-radius: 8px;
	border: solid #FF0000 2px;
	padding: 10px;
	margin-left: 10px;
	width: 30vw;
	outline: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: #FFA500;
	font-size: 1em;
	border-radius: 4px;
	margin: 20px;
	padding: 12px;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 10vw;
	font-weight: bold;
}

.btn:hover {
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1);
	transition: 1s;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}